<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leg Workout</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'allimg/1-removebg-preview.png' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <header class="bg-dark text-white text-center py-5">
        <h1 class="fade-in text-red">Leg Workout</h1>
        <p class="lead fade-in">Strengthen and sculpt your legs with these effective exercises</p>
        <img src="{% static 'allimg/legslogo-removebg-preview.png' %}" alt="Gym Logo" class="logowolf mr-3  bounce-in" >
    </header>

    <div class="container my-5">
        <h2 class="text-center mb-4 fade-in text">Top Leg Exercises</h2>
        
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card clickable-card">
                    <a data-bs-toggle="modal" data-bs-target="#workout">
                    <img src="{% static 'gif/squats.gif' %}" class="card-img-top exercise-img" alt="Squats">
                    <div class="card-body">
                        <h5 class="card-title exercise-title">Squats</h5>
                        <p class="card-text">Squats are one of the most effective exercises for building overall leg strength. They target the quads, hamstrings, glutes, and core.</p>
                    </a>
                    </div>
                </div>
            </div>

           
            <div class="col-md-4 mb-4">
                <div class="card clickable-card">
                    <a data-bs-toggle="modal" data-bs-target="#workout">
                    <img src="{% static 'gif/dumbbell-lunges.gif' %}" class="card-img-top exercise-img" alt="Lunges">
                    <div class="card-body">
                        <h5 class="card-title exercise-title">Lunges</h5>
                        <p class="card-text">Lunges are a great unilateral exercise that targets the quads, hamstrings, and glutes, improving balance and stability.</p>
                    </a>
                    </div>
                </div>
            </div>

           
            <div class="col-md-4 mb-4">
                <div class="card clickable-card">
                    <a data-bs-toggle="modal" data-bs-target="#workout">
                    <img src="{% static 'gif/legpress.gif' %}" class="card-img-top exercise-img" alt="Leg Press">
                    <div class="card-body">
                        <h5 class="card-title exercise-title">Leg Press</h5>
                        <p class="card-text">The leg press is a machine-based exercise that targets the quads, hamstrings, and glutes, allowing you to lift heavy weights safely.</p>
                    </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card clickable-card">
                    <a data-bs-toggle="modal" data-bs-target="#workout">
                    <img src="{% static 'gif/deadlift.gif' %}" class="card-img-top exercise-img" alt="Deadlifts">
                    <div class="card-body">
                        <h5 class="card-title exercise-title">Deadlifts</h5>
                        <p class="card-text">Deadlifts target the hamstrings, glutes, and lower back. It's a compound movement that strengthens the posterior chain.</p>
                    </a>
                    </div>
                </div>
            </div>

             
            <div class="col-md-4 mb-4">
                <div class="card clickable-card">
                    <a data-bs-toggle="modal" data-bs-target="#workout">
                    <img src="{% static 'gif/bulgarian.gif' %}" class="card-img-top exercise-img" alt="Bulgarian Split Squats">
                    <div class="card-body">
                        <h5 class="card-title exercise-title">Bulgarian Split Squats</h5>
                        <p class="card-text">Bulgarian split squats are an advanced single-leg exercise that focuses on the quads, hamstrings, and glutes. They also improve balance and stability.</p>
                    </a>
                    </div>
                </div>
            </div>

         
            <div class="col-md-4 mb-4">
                <div class="card clickable-card">
                    <a data-bs-toggle="modal" data-bs-target="#workout">
                    <img src="{% static 'gif/dumbbell-calf-raise.gif' %}" class="card-img-top exercise-img" alt="Calf Raises">
                    <div class="card-body">
                        <h5 class="card-title exercise-title">Calf Raises</h5>
                        <p class="card-text">Calf raises target the calves and help improve lower leg strength and stability, making them an essential part of any leg workout.</p>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <div class="text-center mb-4">
        <a href="{% url 'tutorial' %}" class="btn btn-lg rounded-pill shadow-sm go-back-btn">Go Back</a>
    </div>

    <div class="modal fade" id="workout" tabindex="-1" aria-labelledby="workout" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="workout"><h2>legs Workout Details</h2></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Beginner Workout:</h6>
                    <p>3 sets of 12 repetitions <br>NOTE: Focus on learning proper form and control.  Use lighter weights to build endurance and technique.</p>
                    <h6>Intermediate Workout:</h6>
                    <p>4 sets of 8-10 repetitions <br> NOTE: Increase weight slightly to challenge strength. <br> Maintain proper form and gradually reduce rest times between sets.</p>
                    <h6>Veteran Workout:</h6>
                    <p>5 sets of 5-6 repetitions <br> NOTE: Use heavier weights to focus on maximum strength. <br> Increase intensity with shorter rest intervals. <br>Include techniques like pause reps (pausing at the bottom of the lift) for greater time under tension.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div> 

    <footer class="bg-dark text-white text-center py-4">
        <p>&copy; 2024 Gym Tutorials | All Rights Reserved</p>
    </footer>

     
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
